body { 
    font-family: 'Open Sans', sans-serif;
    background-color: #372D48;
}

.header__source-select, 
.header__category, 
.header__language, 
.header__country {
    width: 135px;
} 

.header {
    margin-bottom: 25px;
    color: white;
    overflow: hidden;
    background-color: #5C4387;
    box-shadow: 1px 1px 36px -21px #000000;
    padding: 0 5px 8px 5px;
}

.header legend {
    /*for ie*/
    color: white; 
}

.header_sources {
    float: left;
    width: 205px;
}

.header_filter .element {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0 10px 3px 0;
} 

.header__source-select {
    margin: 0 10px 3px 0;
}

.news-item{
    box-shadow: 1px 1px 36px -21px #000000;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #ffe9f8;
}
.news-item__title {
    letter-spacing: 1px;
    margin-top: 0;
}
.news-item__img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    min-width: 570px;

    height: auto;
}

.news-item__content {
    overflow: hidden;
    padding-bottom: 10px;
}

.news-item__date {
    margin-right: 10px;
}

@media screen and (max-width: 834px) {
    .news-item__img {
        width: 100%;
        float: none;
        min-width: 0;
    }
}

@media screen and (max-width: 1024px) {
    .header_sources {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 790px) {
    .header_filter .element {
        display: block;
        margin-right: 0;
    }

    .header__source-select-label, 
    .header__category-label, 
    .header__language-label, 
    .header__country-label {
        display: inline-block;
        width: 128px;
    }
    .header, .container {
        min-width: 309px;
    }
}

